<section class="hero-content">
  <h1 class="hero-title">Evolve Partner Network</h1> 
  <span class="column fourth">
    <%= link_to "Sign Up!", new_user_registration_path, class: 'btn column fourth' %>
  </span>
</section>

<section class="selling-points container clearfix">
	<div class="point column third">
		<span class="ion-person-add"></span>
		<h5 class="point-title">Win Business</h5>
		<p class="point-description">Joining the Evolve Partner Network means access to countless referrals and potential clients.</p>
	</div>
	<div class="point column third">
		<span class="ion-ios-chatbubble"></span>
		<h5 class="point-title">Unbiased, Objective Feedback</h5>
		<p class="point-description">Ever wonder what your clients are thinking? Gain access to invaluable free feedback.</p>
	</div>
	<div class="point column third">	
		<span class="ion-iphone"></span>
		<h5 class="point-title">Mobile Enabled</h5>
		<p class="point-description">Access your account on the go. This application is avaiable on mobile platforms.</p>
	</div>
</section>

